<% include ./partials/head %>

  <div class="container main-body">

    <!-- TO DO MODAL  -->
    <div class="modal fade" id="todoModal" tabindex="-1" aria-labelledby="todoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="todoModalLabel">Create To-Do</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">

            <form action="/user/<%= user_id %>/createTodo" method="post">
              <div class="form-group">
                <label for="todo_title" class="col-form-label">Title*</label>
                <input type="text" name="todo_title" class="form-control" id="todo_title" required>
              </div>
              <div class="form-group">
                <label for="todo_description" class="col-form-label">Description</label>
                <textarea name="todo_description" class="form-control" id="todo_description"></textarea>
              </div>
              <div class="form-group">
                <label for="todo_datetime">Due Date</label>
                <div class='input-group date' id='todo_datetime'>
                  <input type='text' name="todo_time" class="form-control" placeholder="Pick a time..." required>
                  <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <!-- CHECK-IN MODAL -->
    <div class="modal fade" id="checkinModal" tabindex="-1" aria-labelledby="checkinModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="checkinModalLabel">Create Check-in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
            <form action="/user/<%= user_id %>/createCheckin" method="post">
              <div class="form-group">
                <label for="location_address">Location Address*</label>
                <input class="form-control" name="location_address" id="location_address" placeholder="Enter location address.." required>
              </div>
              <div class="form-group">
                <input class="form-control" name="latLng" id="latLng" placeholder="Latitude/Longitude">
              </div>
              <div class="form-group">
                <label for="checkin_datetime">Check-in Time*</label>
                <div class='input-group date' id='checkin_datetime'>
                  <input type='text' name="checkin_time" class="form-control" placeholder="Pick a time..." required>
                  <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="checkin_description" class="col-form-label">Description</label>
                <textarea name="checkin_description" class="form-control" id="checkin_description"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col todo-box">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todoModal">To-Do</button>

        <% for(let i = 0; i < todos.length; i++){ %>
          <div class="row">
            <div class="col">
              <p class="text-content">
                <span class="text-content--primary"><%= todos[i].title %></span>
                <span class="text-content--sub"><%= todos[i].description %></span>
              </p>
            </div>
            <div class="col">
              <p class="text-content">
                <span class="text-content--primary"><%= todos[i].due_date %></span>
              </p>
            </div>
          </div>
          <% } %>

      </div>
      <div class="col checkin-box">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkinModal">Check-In</button>

        <% for(let i = 0; i < checkins.length; i++){ %>
          <div class="row">
            <div class="col">
              <button class="btn btn-secondary checkLocationBtn" type="button" value="<%= checkins[i].location_latlng %>">Locate!</button>
            </div>
            <div class="col">
              <p class="text-content">
                <span class="text-content--primary"><%= checkins[i].location_address %></span>
                <span class="text-content--sub"><%= checkins[i].description %></span>
              </p>
            </div>
            <div class="col">
              <p class="text-content">
                <span class="text-content--primary"><%= checkins[i].checkin_time %></span>
              </p>
            </div>
          </div>
          <% } %>
      </div>

    </div>

  </div>


  <% include ./partials/footer %>
